<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Kristina</a>. A web developer who desires to learn how to build websites that make people light up with awe.
  </p>
  <br />
  <p>
    After many years of a career in Marketing, Kristina wants a new challenge and a new profession. This is how to make it happen.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.

    <div class="row">
     <div class="col-12 col-sm-4" >
      <%= image_tag 'ME.jpg', class: 'img-fluid' %>
     </div>

     <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kristina Allison</h2>
      <br />
      <p>
        Kristina Allison has over 15 years of Marketing experience, most recently in Digital Marketing. She is working hard to add the title of Developer to her resume. 
      </p>
    </div>
  </div>
</div>


<br class="clear" />
<br />
<br />
<br />
<br />