<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Kristina1198">Kristina</a>. A web developer who desires to learn how to build awesome websites!
  </p>
  <br />
  <p>
    After many years in Marketing, Kristina wants to be challenged and achieve a new skill set that comes with that challenge. This is the start of her journey.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.

    <div class="row">
     <div class="col-12 col-sm-4" >
      <%= image_tag 'ME.jpg', class: 'img-fluid' %>
     </div>

     <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kristina Allison</h2>
      <br />
      <p>
        Kristina Allison has over 15 years of Marketing experience, most recently in Digital Marketing. She is working hard to add the title of Web Developer to her resume. 
      </p>
    </div>
  </div>
</div>


<br class="clear" />
<br />
<br />
<br />
<br />