@font-face {
  font-family: 'FiraSans-Medium';
  src: font_url('FiraSans-Medium.eot') format('embedded-opentype');
  src: font_url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
       font_url('FiraSans-Medium.woff') format('woff'),
       font_url('FiraSans-Medium.ttf') format('truetype'),
       font_url('FiraSans-Medium.svg#nobileregular') format('svg'),
       font_url('FiraSans-Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

 



